# Maven
target/
**/target/

# IntelliJ
.idea/
*.iml

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/

# Visual Studio Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Variables privadas
.env